<div class="box">
  <!-- Récupération des données dans une boîte -->
  <div class="search-bar">
    <input
      (input)="search($event)"
      type="search"
      name="search-bar"
      id="search-bar"
      placeholder=" 🔍  Rechercher un contact"
    />
  </div>

  <div class="card-grid">
    @for (contact of contactsDataArray; track contact.id ) {
    <mat-card class="contact-card">
      <mat-card-title>{{ contact.nom }} {{ contact.prenom }}</mat-card-title>
      <mat-card-content>
        <p>Nom : {{ contact.nom }}</p>
        <p>Prénom : {{ contact.prenom }}</p>
        <p>Adresse mail : {{ contact.adressemail }}</p>
        <p>Entreprise : {{ contact.entreprise }}</p>
        <p>Type de contact : {{ contact.typeContact }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/details', contact.id]" mat-raised-button>
          Voir détails
        </button>
      </mat-card-actions>
    </mat-card>
    } @empty{

    <div class="txt">
      <p>📒 Vous n'avez aucun contact pour l'instant</p>
      <a routerLink="/contact-form"> ➕ Ajouter un nouveau contact</a>
    </div>

    }
  </div>
</div>
